.button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: $text-btn;
  cursor: pointer;
  &__sidebar {
    background-color: $purple;
    margin-top: 1rem;
    &__noDrop {
      cursor: auto;
    }
  }
  &__edit {
    background-color: $purple;
  }
  &__submit {
    display: flex;
    margin-top: 1rem;
    margin-left: auto;
    &__disabled {
      background-color: $gray;
      cursor: auto;
    }
    &__active {
      background-color: $green;
    }
  }
}
